{% extends 'webics/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block extra_head %}
{% load staticfiles %}

<script src="{% static 'webics/d3/d3.v3.js' %}"></script>
<link rel="stylesheet" href="{% static 'scan_oview/css/cal-heatmap.css' %}"/>
<link rel="stylesheet" href="{% static 'scan_oview/css/scan_oview.css' %}"/>
<script type="text/javascript" src="{% static 'scan_oview/js/cal-heatmap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scan_oview/js/scan_oview.js' %}"></script>

{% endblock %}

{% block content %}
{% load staticfiles %}
<script type="text/javascript">
	var beamline = "{{ active_tab }}";
	{% autoescape off %}
    var data = {{ data }};
	{% endautoescape %}
</script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Scan Heatmap</h3>
  </div>
  <div class="panel-body">
    <div class="col-lg-10 col-lg-offset-1" id="cal-heatmap"></div>
  </div>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h3 class="panel-title">Scan Summary</h3>
  </div>
	<table class='table table-striped'>
		<thead>
			<td>
			</td>
			<td>
				<strong>Day</strong>
			</td>
			<td>
				<strong>Week</strong>
			</td>
			<td>
				<strong>Month</strong>
			</td>
			<td>
				<strong>Year</strong>
			</td>
			<td>
				<strong>All</strong>
			</td>
		</thead>
		<tbody>
			<tr>
				<td>
					Total Points
				</td>
				<td>
					{{ points.0 }}
				</td>
				<td>
					{{ points.1 }}
				</td>
				<td>
					{{ points.2 }}
				</td>
				<td>
					{{ points.3 }}
				</td>
				<td>
					{{ points.4 }}
				</td>
			</tr>
			<tr>
				<td>
					Total Scans
				</td>
				<td>
					{{ scans.0 }}
				</td>
				<td>
					{{ scans.1 }}
				</td>
				<td>
					{{ scans.2 }}
				</td>
				<td>
					{{ scans.3 }}
				</td>
				<td>
					{{ scans.4 }}
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	<h3 class="panel-title">Recent Scans</h3>
  </div>
	<table class='table table-striped'>
		<thead>
			<td>
				<strong>Date</strong>
			</td>
			<td>
				<strong>Scan ID</strong>
			</td>
			<td>
				<strong>1D</strong>
			</td>
			<td>
				<strong>2D</strong>
			</td>
		</thead>
		<tbody>
			{% for scan in recent_scans %}
			<tr>
				<td>{{ scan.ts|date:"D d M H:i" }}</td>
				<td>{{ scan.scan_id }}</td>
				{% for hist in scan.history.all %}
				<td>{{ hist.completed }}/{{ hist.requested }}</td>
				{% endfor %}
			</tr>
			{% empty %}
			<tr>
			    <td>No scans yet.</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	
{% endblock %}