<h4  class="text-center">Chat</h4>
<div>
  <div class="span2" id="chat-people">
      <ul id="people" class="unstyled"></ul>
  </div>
  <div class="span4" id="chat-messages">
      <ul id="msgs" class="unstyled">
  </div>
</div>
<div>
    <div class="span5 offset2" id="login">
        <form class="form-inline">
              <input type="text" class="input-small" placeholder="Your name" id="name">
            <input type="button" name="join" id="join" value="Join" class="btn btn-primary">
        </form>
    </div>

    <div class="span5 offset2" id="chat">
        <form id="2" class="form-inline">
              <input type="text" class="input" placeholder="Your message" id="msg">
            <input type="button" name="send" id="send" value="Send" class="btn btn-success">
        </form>
      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" id="audience-button" data-toggle="dropdown">
          Audience: {{active_tab}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu chat-audience" role="menu">
          <li><a href="javascript:void(0)" id="{{active_tab}}">{{ active_tab }}</a></li>
          <li><a href="javascript:void(0)" id="broadcast">All beamlines</a></li>
        </ul>
      </div>
    </div>
 </div>
