body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.detrows {
	padding: 2px 15px;
}
#chat-people{
	display:block;
    width:100%;
    height:50px;
}
#chat-messages{
	display:block;
    width:100%;
    height:200px;
    overflow:auto;
}
.highlight{
    background-color: lightgreen;
}
.table-striped tbody tr.highlight:nth-child(odd) td {
    background-color: lightgreen;
}