{% extends 'webics/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block extra_head %}
{% load staticfiles %}
<link href="{% static 'chat/css/chat.css' %}" rel="stylesheet">
<link href="{% static 'det_buttons/css/det_buttons.css' %}" rel="stylesheet">
<link href="{% static 'history/css/history.css' %}" rel="stylesheet">
<link href="{% static 'lineplots/css/lineplots.css' %}" rel="stylesheet">

<script src="{% static 'webics/d3/d3.v3.js' %}"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>
<script src="{% static 'det_buttons/js/det_buttons.js' %}"></script>
<script src="{% static 'history/js/history.js' %}"></script>
<script src="{% static 'lineplots/js/LinePlot.js' %}"></script>
<script src="{% static 'lineplots/js/lineplots.js' %}"></script>
<script src="{% static 'socket_manager/js/socket_manager.js' %}"></script>
{% endblock %}

{% block content %}
{% load staticfiles %}
<div id="line_plot" class="lPlot" style="position:relative;width:100%;height:400px"></div>
<script type="text/javascript"> 
	var beamline = "{{ active_tab }}";
	{% autoescape off %}
    var data = {{ data }};
	{% endautoescape %}
</script>

<div class='col-lg-4' >
	{% include "history/history.html" %}
</div>
<div class='col-lg-4' >
	{% include "det_buttons/det_buttons.html" %}
	<h4  class="text-center">Select Row</h4>
	<span class="row-buttons">
		<button type="button" class="btn btn-default btn-xs disabled" id="decrement_row"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
		Row: <span id="current_row">1/1</span>
		<button type="button" class="btn btn-default btn-xs disabled" id="increment_row"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
	</span>
</div>
<div class='col-lg-4' >
	{% include "chat/chat.html" %}
</div>


{% endblock %}}

