{% extends 'webics/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block extra_head %}
{% load staticfiles %}
<script src="{% static 'webics/d3/d3.v3.js' %}"></script>
<script src="{% static 'webics/js/socket.io.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'webics/js/img.js' %}"></script>
<script src="{% static 'webics/js/image_plot.js' %}"></script>
<link href="{% static 'webics/js/image_plot.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
{% load staticfiles %}

<br>

<div id="test_image1" class="lImage" style="width:500px;height:500px"></div>
<div id="test_image2" class="lImage" style="width:400px;height:400px"></div>

<script type="text/javascript"> 
  var i1 = new ImagePlot({containerId: 'test_image1', data: img1, det: 'D01'});
  var i2 = new ImagePlot({containerId: 'test_image2', data: img1, det: 'D05'});
</script>

{% endblock %}



