{% extends 'webics/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block extra_head %}
{% load staticfiles %}
<link href="{% static 'webics/d3/d3js.css' %}" rel="stylesheet">
<script src="{% static 'webics/d3/d3.v3.js' %}"></script>
<script src="{% static 'webics/js/socket.io.js' %}"></script>
{% endblock %}

{% block content %}
{% load staticfiles %}
<br>
<div class='col-lg-12' id='chart'></div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'webics/d3/plot.js' %}"></script>
<script type="text/javascript"> 
   var beamline = "{{ active_tab }}"
</script>
<script src="{% static 'webics/js/chat.js' %}"></script>
<div class='col-lg-4' >
	<h4>Scan History</h4>
	<table class="table-condensed table-striped">

		<thead>
			<tr> 
			    <th>Time</th>  
			    <th>Scan ID</th>
			    <th>1D</th>
			    <th>2D</th> 
			</tr>
		</thead>
		<tbody>

			{% for scan in recent_scans %}
			<tr>
				<td>{{ scan.ts|date:"D d M h:m" }}</td>
				<td>{{ scan.scan_id }}</td>
				{% for hist in scan.history.all %}
				<td>{{ hist.completed }}/{{ hist.requested }}</td>
				{% endfor %}
			</tr>
			{% empty %}
			<tr>
			    <td>No scans yet.</td>
			</tr>
			{% endfor %}

		</tbody>

	</table>
</div>
<div class='col-lg-4'>
	<h4 class="text-center">Select Detectors</h4>
	
	{% for det in dets %}
	{% if det == 'D00' or det == 'D07' or det == 'D14' or det == 'D21' or det == 'D28' or det == 'D35' or det == 'D42' or det == 'D49' or det == 'D56' or det == 'D63'%}
	<div class='detrows text-center'>
	{% endif %}
		<button onclick="toggle_state(this.id)" type="button" class="btn btn-primary btn-xs" id="{{ det }}">{{ det }}</button>
	{% if det == 'D06' or det == 'D13' or det == 'D20' or det == 'D27' or det == 'D34' or det == 'D41' or det == 'D48' or det == 'D55' or det == 'D62' or det == 'D69'%}
	</div>
	{% endif %}
	{% endfor %}
	<h4  class="text-center">Select Row</h4>
	<span class="row-buttons">
		<button onclick="decrement_row()" type="button" class="btn btn-default btn-xs" id="decrement_row"><span class="glyphicon glyphicon-circle-arrow-left"></span></button>
		Row: <span id="row_number">0</span>
		<button onclick="increment_row()" type="button" class="btn btn-default btn-xs" id="increment_row"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
	</span>
</div>

<div class='col-lg-4'>
	<h4  class="text-center">Chat</h4>
	<div>
	  <div class="span2" id="chat-people">
	      <ul id="people" class="unstyled"></ul>
	  </div>
	  <div class="span4" id="chat-messages">
	      <ul id="msgs" class="unstyled">
	  </div>
	</div>
	<div>
	    <div class="span5 offset2" id="login">
	        <form class="form-inline">
	              <input type="text" class="input-small" placeholder="Your name" id="name">
	            <input type="button" name="join" id="join" value="Join" class="btn btn-primary">
	        </form>
	    </div>

	    <div class="span5 offset2" id="chat">
	        <form id="2" class="form-inline">
	              <input type="text" class="input" placeholder="Your message" id="msg">
	            <input type="button" name="send" id="send" value="Send" class="btn btn-success">
	        </form>
			  <button type="button" class="btn btn-default" id="broadcast" onclick="onbroadcast(this.id)">Broadcast</button>
	    </div>
	 </div>
</div>

{% endblock %}



